In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('database.sqlite')

c = conn.cursor()

In [3]:
# Examine Shape of Database

c.execute("""
SELECT *
FROM Matches
""")
df_teams = pd.DataFrame(c.fetchall())
df_teams.columns = [x[0] for x in c.description]
print(df_teams.info())
df_teams

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24625 entries, 0 to 24624
Data columns (total 9 columns):
Match_ID    24625 non-null int64
Div         24625 non-null object
Season      24625 non-null int64
Date        24625 non-null object
HomeTeam    24625 non-null object
AwayTeam    24625 non-null object
FTHG        24625 non-null int64
FTAG        24625 non-null int64
FTR         24625 non-null object
dtypes: int64(4), object(5)
memory usage: 1.7+ MB
None

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A
...,...,...,...,...,...,...,...,...,...
24620,46770,E0,2016,2017-05-21,Liverpool,Middlesbrough,3,0,H
24621,46771,E0,2016,2017-05-21,Man United,Crystal Palace,2,0,H
24622,46772,E0,2016,2017-05-21,Southampton,Stoke,0,1,A
24623,46773,E0,2016,2017-05-21,Swansea,West Brom,2,1,H
24624,46774,E0,2016,2017-05-21,Watford,Man City,0,5,A

In [4]:
# Examine Shape of Database

c.execute("""
SELECT *
FROM Teams""")
df_matches = pd.DataFrame(c.fetchall())
df_matches.columns = [x[0] for x in c.description]
print(df_matches.info())
df_matches

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 8 columns):
Season                    468 non-null object
TeamName                  468 non-null object
KaderHome                 468 non-null object
AvgAgeHome                468 non-null object
ForeignPlayersHome        468 non-null object
OverallMarketValueHome    468 non-null object
AvgMarketValueHome        468 non-null object
StadiumCapacity           468 non-null object
dtypes: object(8)
memory usage: 29.4+ KB
None

,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
0,2017,Bayern Munich,27,26,15,597950000,22150000,75000
1,2017,Dortmund,33,25,18,416730000,12630000,81359
2,2017,Leverkusen,31,24,15,222600000,7180000,30210
3,2017,RB Leipzig,30,23,15,180130000,6000000,42959
4,2017,Schalke 04,29,24,17,179550000,6190000,62271
...,...,...,...,...,...,...,...,...
463,2005,Paderborn,33,24,13,7530000,228000,47728
464,2005,Unterhaching,28,26,9,7030000,251000,47728
465,2005,Offenbach,28,26,13,6280000,224000,47728
466,2005,Siegen,29,26,13,6180000,213000,47728
467,2005,Braunschweig,25,25,3,4150000,166000,47728

In [5]:
# Examine Shape of Database

c.execute("""
SELECT *
FROM Teams_in_Matches""")
df_teams_in_matches = pd.DataFrame(c.fetchall())
df_teams_in_matches.columns = [x[0] for x in c.description]
print(df_teams_in_matches.info())
df_teams_in_matches

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49148 entries, 0 to 49147
Data columns (total 2 columns):
Match_ID          49148 non-null int64
Unique_Team_ID    49148 non-null int64
dtypes: int64(2)
memory usage: 768.1 KB
None

       Match_ID  Unique_Team_ID
0             1              26
1             1              46
2             2              26
3             2              42
4             3              26
...         ...             ...
49143     46772             123
49144     46773             117
49145     46773             126
49146     46774              85
49147     46774             112

[49148 rows x 2 columns]

In [6]:
# Examine Shape of Database

c.execute("""
SELECT *
FROM Unique_Teams""")
df_unique_teams = pd.DataFrame(c.fetchall())
df_unique_teams.columns = [x[0] for x in c.description]
print(df_unique_teams.info())
df_unique_teams

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 2 columns):
TeamName          128 non-null object
Unique_Team_ID    128 non-null int64
dtypes: int64(1), object(1)
memory usage: 2.1+ KB
None

          TeamName  Unique_Team_ID
0    Bayern Munich               1
1         Dortmund               2
2       Leverkusen               3
3       RB Leipzig               4
4       Schalke 04               5
..             ...             ...
123        Burnley             124
124      Blackpool             125
125        Swansea             126
126        Cardiff             127
127    Bournemouth             128

[128 rows x 2 columns]

In [7]:
c.execute("""
SELECT *
FROM Matches
WHERE Season = 2011
""")
df_teams = pd.DataFrame(c.fetchall())
df_teams.columns = [x[0] for x in c.description]
df_teams

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
2,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A
3,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H
4,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D
...,...,...,...,...,...,...,...,...,...
987,44870,E0,2011,2012-05-13,Sunderland,Man United,0,1,A
988,44871,E0,2011,2012-05-13,Swansea,Liverpool,1,0,H
989,44872,E0,2011,2012-05-13,Tottenham,Fulham,2,0,H
990,44873,E0,2011,2012-05-13,West Brom,Arsenal,2,3,A
991,44874,E0,2011,2012-05-13,Wigan,Wolves,3,2,H

In [11]:
df_teams['HomeTeam'].nunique()

56

In [12]:
df_unique_teams.nunique()

TeamName          128
Unique_Team_ID    128
dtype: int64

In [34]:
Home_Goals = df_teams.groupby('HomeTeam')['FTHG'].sum()
Home_Goals

HomeTeam
Aachen                15
Arsenal               39
Aston Villa           20
Augsburg              20
Bayern Munich         49
Blackburn             26
Bochum                23
Bolton                23
Braunschweig          21
Chelsea               41
Cottbus               18
Dortmund              44
Dresden               30
Duisburg              23
Ein Frankfurt         38
Erzgebirge Aue        19
Everton               28
FC Koln               20
Fortuna Dusseldorf    35
Frankfurt FSV         20
Freiburg              24
Fulham                36
Greuther Furth        46
Hamburg               19
Hannover              31
Hansa Rostock         20
Hertha                19
Hoffenheim            21
Ingolstadt            28
Kaiserslautern        12
Karlsruhe             23
Leverkusen            28
Liverpool             24
M'gladbach            29
Mainz                 27
Man City              55
Man United            52
Munich 1860           35
Newcastle             29
Norwich               28
Nurnberg              22
Paderborn             28
QPR                   24
Schalke 04            47
St Pauli              36
Stoke                 25
Stuttgart             36
Sunderland            26
Swansea               27
Tottenham             39
Union Berlin          30
Werder Bremen         31
West Brom             21
Wigan                 22
Wolfsburg             29
Wolves                19
Name: FTHG, dtype: int64

In [35]:
Away_Goals = df_teams.groupby('AwayTeam')['FTAG'].sum()
Away_Goals

AwayTeam
Aachen                15
Arsenal               35
Aston Villa           17
Augsburg              16
Bayern Munich         28
Blackburn             22
Bochum                18
Bolton                23
Braunschweig          16
Chelsea               24
Cottbus               12
Dortmund              36
Dresden               20
Duisburg              19
Ein Frankfurt         38
Erzgebirge Aue        12
Everton               22
FC Koln               19
Fortuna Dusseldorf    29
Frankfurt FSV         23
Freiburg              21
Fulham                12
Greuther Furth        27
Hamburg               16
Hannover              10
Hansa Rostock         14
Hertha                19
Hoffenheim            20
Ingolstadt            15
Kaiserslautern        12
Karlsruhe             11
Leverkusen            24
Liverpool             23
M'gladbach            20
Mainz                 20
Man City              38
Man United            37
Munich 1860           27
Newcastle             27
Norwich               24
Nurnberg              16
Paderborn             23
QPR                   19
Schalke 04            27
St Pauli              23
Stoke                 11
Stuttgart             27
Sunderland            19
Swansea               17
Tottenham             27
Union Berlin          25
Werder Bremen         18
West Brom             24
Wigan                 20
Wolfsburg             18
Wolves                21
Name: FTAG, dtype: int64

In [36]:
Home_Goals = df_teams.groupby('HomeTeam')['FTHG'].sum()
Away_Goals = df_teams.groupby('AwayTeam')['FTAG'].sum()

df_Total_Goals = pd.DataFrame(data = Home_Goals + Away_Goals).reset_index()

df_Total_Goals.columns = ['TeamName', 'TotalGoals']
df_Total_Goals

              TeamName  TotalGoals
0               Aachen          30
1              Arsenal          74
2          Aston Villa          37
3             Augsburg          36
4        Bayern Munich          77
5            Blackburn          48
6               Bochum          41
7               Bolton          46
8         Braunschweig          37
9              Chelsea          65
10             Cottbus          30
11            Dortmund          80
12             Dresden          50
13            Duisburg          42
14       Ein Frankfurt          76
15      Erzgebirge Aue          31
16             Everton          50
17             FC Koln          39
18  Fortuna Dusseldorf          64
19       Frankfurt FSV          43
20            Freiburg          45
21              Fulham          48
22      Greuther Furth          73
23             Hamburg          35
24            Hannover          41
25       Hansa Rostock          34
26              Hertha          38
27          Hoffenheim          41
28          Ingolstadt          43
29      Kaiserslautern          24
30           Karlsruhe          34
31          Leverkusen          52
32           Liverpool          47
33          M'gladbach          49
34               Mainz          47
35            Man City          93
36          Man United          89
37         Munich 1860          62
38           Newcastle          56
39             Norwich          52
40            Nurnberg          38
41           Paderborn          51
42                 QPR          43
43          Schalke 04          74
44            St Pauli          59
45               Stoke          36
46           Stuttgart          63
47          Sunderland          45
48             Swansea          44
49           Tottenham          66
50        Union Berlin          55
51       Werder Bremen          49
52           West Brom          45
53               Wigan          42
54           Wolfsburg          47
55              Wolves          40

In [71]:
Home_Wins = df_teams[df_teams['FTR'] == 'H']['HomeTeam'].value_counts()
Away_Wins = df_teams[df_teams['FTR'] == 'A']['AwayTeam'].value_counts()

df_Total_Wins = pd.DataFrame(data = Home_Wins + Away_Wins).reset_index()
df_Total_Wins.columns = ['TeamName', 'TotalWins']
df_Total_Wins

              TeamName  TotalWins
0               Aachen          6
1              Arsenal         21
2          Aston Villa          7
3             Augsburg          8
4        Bayern Munich         23
5            Blackburn          8
6               Bochum         10
7               Bolton         10
8         Braunschweig         10
9              Chelsea         18
10             Cottbus          8
11            Dortmund         25
12             Dresden         12
13            Duisburg         10
14       Ein Frankfurt         20
15      Erzgebirge Aue          8
16             Everton         15
17             FC Koln          8
18  Fortuna Dusseldorf         16
19       Frankfurt FSV          7
20            Freiburg         10
21              Fulham         14
22      Greuther Furth         20
23             Hamburg          8
24            Hannover         12
25       Hansa Rostock          5
26              Hertha          7
27          Hoffenheim         10
28          Ingolstadt          8
29      Kaiserslautern          4
30           Karlsruhe          9
31          Leverkusen         15
32           Liverpool         14
33          M'gladbach         17
34               Mainz          9
35            Man City         28
36          Man United         28
37         Munich 1860         17
38           Newcastle         19
39             Norwich         12
40            Nurnberg         12
41           Paderborn         17
42                 QPR         10
43          Schalke 04         20
44            St Pauli         18
45               Stoke         11
46           Stuttgart         15
47          Sunderland         11
48             Swansea         12
49           Tottenham         20
50        Union Berlin         14
51       Werder Bremen         11
52           West Brom         13
53               Wigan         11
54           Wolfsburg         13
55              Wolves          5

In [73]:
result = pd.merge(df_Total_Goals, df_Total_Wins, on='TeamName')

result

              TeamName  TotalGoals  TotalWins
0               Aachen          30          6
1              Arsenal          74         21
2          Aston Villa          37          7
3             Augsburg          36          8
4        Bayern Munich          77         23
5            Blackburn          48          8
6               Bochum          41         10
7               Bolton          46         10
8         Braunschweig          37         10
9              Chelsea          65         18
10             Cottbus          30          8
11            Dortmund          80         25
12             Dresden          50         12
13            Duisburg          42         10
14       Ein Frankfurt          76         20
15      Erzgebirge Aue          31          8
16             Everton          50         15
17             FC Koln          39          8
18  Fortuna Dusseldorf          64         16
19       Frankfurt FSV          43          7
20            Freiburg          45         10
21              Fulham          48         14
22      Greuther Furth          73         20
23             Hamburg          35          8
24            Hannover          41         12
25       Hansa Rostock          34          5
26              Hertha          38          7
27          Hoffenheim          41         10
28          Ingolstadt          43          8
29      Kaiserslautern          24          4
30           Karlsruhe          34          9
31          Leverkusen          52         15
32           Liverpool          47         14
33          M'gladbach          49         17
34               Mainz          47          9
35            Man City          93         28
36          Man United          89         28
37         Munich 1860          62         17
38           Newcastle          56         19
39             Norwich          52         12
40            Nurnberg          38         12
41           Paderborn          51         17
42                 QPR          43         10
43          Schalke 04          74         20
44            St Pauli          59         18
45               Stoke          36         11
46           Stuttgart          63         15
47          Sunderland          45         11
48             Swansea          44         12
49           Tottenham          66         20
50        Union Berlin          55         14
51       Werder Bremen          49         11
52           West Brom          45         13
53               Wigan          42         11
54           Wolfsburg          47         13
55              Wolves          40          5