In [1]:
import pandas as pd
import sqlite3
import requests
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
conn = sqlite3.connect('database.sqlite')

c = conn.cursor()

In [3]:
# Examine Shape of Database

c.execute("""
SELECT *
FROM Matches
""")
df_matches = pd.DataFrame(c.fetchall())
df_matches.columns = [x[0] for x in c.description]
print(df_matches.info())
df_matches

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24625 entries, 0 to 24624
Data columns (total 9 columns):
Match_ID    24625 non-null int64
Div         24625 non-null object
Season      24625 non-null int64
Date        24625 non-null object
HomeTeam    24625 non-null object
AwayTeam    24625 non-null object
FTHG        24625 non-null int64
FTAG        24625 non-null int64
FTR         24625 non-null object
dtypes: int64(4), object(5)
memory usage: 1.7+ MB
None

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1,D2,2009,2010-04-04,Oberhausen,Kaiserslautern,2,1,H
1,2,D2,2009,2009-11-01,Munich 1860,Kaiserslautern,0,1,A
2,3,D2,2009,2009-10-04,Frankfurt FSV,Kaiserslautern,1,1,D
3,4,D2,2009,2010-02-21,Frankfurt FSV,Karlsruhe,2,1,H
4,5,D2,2009,2009-12-06,Ahlen,Karlsruhe,1,3,A
...,...,...,...,...,...,...,...,...,...
24620,46770,E0,2016,2017-05-21,Liverpool,Middlesbrough,3,0,H
24621,46771,E0,2016,2017-05-21,Man United,Crystal Palace,2,0,H
24622,46772,E0,2016,2017-05-21,Southampton,Stoke,0,1,A
24623,46773,E0,2016,2017-05-21,Swansea,West Brom,2,1,H
24624,46774,E0,2016,2017-05-21,Watford,Man City,0,5,A

In [4]:
# Examine Shape of Database

c.execute("""
SELECT *
FROM Teams""")
df_teams = pd.DataFrame(c.fetchall())
df_teams.columns = [x[0] for x in c.description]
print(df_teams.info())
df_teams

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 8 columns):
Season                    468 non-null object
TeamName                  468 non-null object
KaderHome                 468 non-null object
AvgAgeHome                468 non-null object
ForeignPlayersHome        468 non-null object
OverallMarketValueHome    468 non-null object
AvgMarketValueHome        468 non-null object
StadiumCapacity           468 non-null object
dtypes: object(8)
memory usage: 29.4+ KB
None

,Season,TeamName,KaderHome,AvgAgeHome,ForeignPlayersHome,OverallMarketValueHome,AvgMarketValueHome,StadiumCapacity
0,2017,Bayern Munich,27,26,15,597950000,22150000,75000
1,2017,Dortmund,33,25,18,416730000,12630000,81359
2,2017,Leverkusen,31,24,15,222600000,7180000,30210
3,2017,RB Leipzig,30,23,15,180130000,6000000,42959
4,2017,Schalke 04,29,24,17,179550000,6190000,62271
...,...,...,...,...,...,...,...,...
463,2005,Paderborn,33,24,13,7530000,228000,47728
464,2005,Unterhaching,28,26,9,7030000,251000,47728
465,2005,Offenbach,28,26,13,6280000,224000,47728
466,2005,Siegen,29,26,13,6180000,213000,47728
467,2005,Braunschweig,25,25,3,4150000,166000,47728

In [5]:
# Examine Shape of Database

c.execute("""
SELECT *
FROM Teams_in_Matches""")
df_teams_in_matches = pd.DataFrame(c.fetchall())
df_teams_in_matches.columns = [x[0] for x in c.description]
print(df_teams_in_matches.info())
df_teams_in_matches

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49148 entries, 0 to 49147
Data columns (total 2 columns):
Match_ID          49148 non-null int64
Unique_Team_ID    49148 non-null int64
dtypes: int64(2)
memory usage: 768.1 KB
None

       Match_ID  Unique_Team_ID
0             1              26
1             1              46
2             2              26
3             2              42
4             3              26
...         ...             ...
49143     46772             123
49144     46773             117
49145     46773             126
49146     46774              85
49147     46774             112

[49148 rows x 2 columns]

In [6]:
# Examine Shape of Database

c.execute("""
SELECT *
FROM Unique_Teams""")
df_unique_teams = pd.DataFrame(c.fetchall())
df_unique_teams.columns = [x[0] for x in c.description]
print(df_unique_teams.info())
df_unique_teams

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 2 columns):
TeamName          128 non-null object
Unique_Team_ID    128 non-null int64
dtypes: int64(1), object(1)
memory usage: 2.1+ KB
None

          TeamName  Unique_Team_ID
0    Bayern Munich               1
1         Dortmund               2
2       Leverkusen               3
3       RB Leipzig               4
4       Schalke 04               5
..             ...             ...
123        Burnley             124
124      Blackpool             125
125        Swansea             126
126        Cardiff             127
127    Bournemouth             128

[128 rows x 2 columns]

In [7]:
c.execute("""
SELECT *
FROM Matches
WHERE Season = 2011
""")
df_matches = pd.DataFrame(c.fetchall())
df_matches.columns = [x[0] for x in c.description]
df_matches

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
2,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A
3,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H
4,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D
...,...,...,...,...,...,...,...,...,...
987,44870,E0,2011,2012-05-13,Sunderland,Man United,0,1,A
988,44871,E0,2011,2012-05-13,Swansea,Liverpool,1,0,H
989,44872,E0,2011,2012-05-13,Tottenham,Fulham,2,0,H
990,44873,E0,2011,2012-05-13,West Brom,Arsenal,2,3,A
991,44874,E0,2011,2012-05-13,Wigan,Wolves,3,2,H

In [8]:
df_matches['HomeTeam'].nunique()

56

In [9]:
df_unique_teams.nunique()

TeamName          128
Unique_Team_ID    128
dtype: int64

In [10]:
Home_Goals = df_matches.groupby('HomeTeam')['FTHG'].sum()
Home_Goals

HomeTeam
Aachen                15
Arsenal               39
Aston Villa           20
Augsburg              20
Bayern Munich         49
Blackburn             26
Bochum                23
Bolton                23
Braunschweig          21
Chelsea               41
Cottbus               18
Dortmund              44
Dresden               30
Duisburg              23
Ein Frankfurt         38
Erzgebirge Aue        19
Everton               28
FC Koln               20
Fortuna Dusseldorf    35
Frankfurt FSV         20
Freiburg              24
Fulham                36
Greuther Furth        46
Hamburg               19
Hannover              31
Hansa Rostock         20
Hertha                19
Hoffenheim            21
Ingolstadt            28
Kaiserslautern        12
Karlsruhe             23
Leverkusen            28
Liverpool             24
M'gladbach            29
Mainz                 27
Man City              55
Man United            52
Munich 1860           35
Newcastle             29
Norwich               28
Nurnberg              22
Paderborn             28
QPR                   24
Schalke 04            47
St Pauli              36
Stoke                 25
Stuttgart             36
Sunderland            26
Swansea               27
Tottenham             39
Union Berlin          30
Werder Bremen         31
West Brom             21
Wigan                 22
Wolfsburg             29
Wolves                19
Name: FTHG, dtype: int64

In [11]:
Away_Goals = df_matches.groupby('AwayTeam')['FTAG'].sum()
Away_Goals

AwayTeam
Aachen                15
Arsenal               35
Aston Villa           17
Augsburg              16
Bayern Munich         28
Blackburn             22
Bochum                18
Bolton                23
Braunschweig          16
Chelsea               24
Cottbus               12
Dortmund              36
Dresden               20
Duisburg              19
Ein Frankfurt         38
Erzgebirge Aue        12
Everton               22
FC Koln               19
Fortuna Dusseldorf    29
Frankfurt FSV         23
Freiburg              21
Fulham                12
Greuther Furth        27
Hamburg               16
Hannover              10
Hansa Rostock         14
Hertha                19
Hoffenheim            20
Ingolstadt            15
Kaiserslautern        12
Karlsruhe             11
Leverkusen            24
Liverpool             23
M'gladbach            20
Mainz                 20
Man City              38
Man United            37
Munich 1860           27
Newcastle             27
Norwich               24
Nurnberg              16
Paderborn             23
QPR                   19
Schalke 04            27
St Pauli              23
Stoke                 11
Stuttgart             27
Sunderland            19
Swansea               17
Tottenham             27
Union Berlin          25
Werder Bremen         18
West Brom             24
Wigan                 20
Wolfsburg             18
Wolves                21
Name: FTAG, dtype: int64

In [12]:
Home_Goals = df_matches.groupby('HomeTeam')['FTHG'].sum()
Away_Goals = df_matches.groupby('AwayTeam')['FTAG'].sum()

df_Total_Goals = pd.DataFrame(data = Home_Goals + Away_Goals).reset_index()

df_Total_Goals.columns = ['TeamName', 'TotalGoals']
df_Total_Goals

              TeamName  TotalGoals
0               Aachen          30
1              Arsenal          74
2          Aston Villa          37
3             Augsburg          36
4        Bayern Munich          77
5            Blackburn          48
6               Bochum          41
7               Bolton          46
8         Braunschweig          37
9              Chelsea          65
10             Cottbus          30
11            Dortmund          80
12             Dresden          50
13            Duisburg          42
14       Ein Frankfurt          76
15      Erzgebirge Aue          31
16             Everton          50
17             FC Koln          39
18  Fortuna Dusseldorf          64
19       Frankfurt FSV          43
20            Freiburg          45
21              Fulham          48
22      Greuther Furth          73
23             Hamburg          35
24            Hannover          41
25       Hansa Rostock          34
26              Hertha          38
27          Hoffenheim          41
28          Ingolstadt          43
29      Kaiserslautern          24
30           Karlsruhe          34
31          Leverkusen          52
32           Liverpool          47
33          M'gladbach          49
34               Mainz          47
35            Man City          93
36          Man United          89
37         Munich 1860          62
38           Newcastle          56
39             Norwich          52
40            Nurnberg          38
41           Paderborn          51
42                 QPR          43
43          Schalke 04          74
44            St Pauli          59
45               Stoke          36
46           Stuttgart          63
47          Sunderland          45
48             Swansea          44
49           Tottenham          66
50        Union Berlin          55
51       Werder Bremen          49
52           West Brom          45
53               Wigan          42
54           Wolfsburg          47
55              Wolves          40

In [13]:
Home_Wins = df_matches[df_matches['FTR'] == 'H']['HomeTeam'].value_counts()
Away_Wins = df_matches[df_matches['FTR'] == 'A']['AwayTeam'].value_counts()

df_Total_Wins = pd.DataFrame(data = Home_Wins + Away_Wins).reset_index()
df_Total_Wins.columns = ['TeamName', 'TotalWins']
df_Total_Wins

              TeamName  TotalWins
0               Aachen          6
1              Arsenal         21
2          Aston Villa          7
3             Augsburg          8
4        Bayern Munich         23
5            Blackburn          8
6               Bochum         10
7               Bolton         10
8         Braunschweig         10
9              Chelsea         18
10             Cottbus          8
11            Dortmund         25
12             Dresden         12
13            Duisburg         10
14       Ein Frankfurt         20
15      Erzgebirge Aue          8
16             Everton         15
17             FC Koln          8
18  Fortuna Dusseldorf         16
19       Frankfurt FSV          7
20            Freiburg         10
21              Fulham         14
22      Greuther Furth         20
23             Hamburg          8
24            Hannover         12
25       Hansa Rostock          5
26              Hertha          7
27          Hoffenheim         10
28          Ingolstadt          8
29      Kaiserslautern          4
30           Karlsruhe          9
31          Leverkusen         15
32           Liverpool         14
33          M'gladbach         17
34               Mainz          9
35            Man City         28
36          Man United         28
37         Munich 1860         17
38           Newcastle         19
39             Norwich         12
40            Nurnberg         12
41           Paderborn         17
42                 QPR         10
43          Schalke 04         20
44            St Pauli         18
45               Stoke         11
46           Stuttgart         15
47          Sunderland         11
48             Swansea         12
49           Tottenham         20
50        Union Berlin         14
51       Werder Bremen         11
52           West Brom         13
53               Wigan         11
54           Wolfsburg         13
55              Wolves          5

In [14]:
df_goals_and_wins = pd.merge(df_Total_Goals, df_Total_Wins, on='TeamName')

df_goals_and_wins

              TeamName  TotalGoals  TotalWins
0               Aachen          30          6
1              Arsenal          74         21
2          Aston Villa          37          7
3             Augsburg          36          8
4        Bayern Munich          77         23
5            Blackburn          48          8
6               Bochum          41         10
7               Bolton          46         10
8         Braunschweig          37         10
9              Chelsea          65         18
10             Cottbus          30          8
11            Dortmund          80         25
12             Dresden          50         12
13            Duisburg          42         10
14       Ein Frankfurt          76         20
15      Erzgebirge Aue          31          8
16             Everton          50         15
17             FC Koln          39          8
18  Fortuna Dusseldorf          64         16
19       Frankfurt FSV          43          7
20            Freiburg          45         10
21              Fulham          48         14
22      Greuther Furth          73         20
23             Hamburg          35          8
24            Hannover          41         12
25       Hansa Rostock          34          5
26              Hertha          38          7
27          Hoffenheim          41         10
28          Ingolstadt          43          8
29      Kaiserslautern          24          4
30           Karlsruhe          34          9
31          Leverkusen          52         15
32           Liverpool          47         14
33          M'gladbach          49         17
34               Mainz          47          9
35            Man City          93         28
36          Man United          89         28
37         Munich 1860          62         17
38           Newcastle          56         19
39             Norwich          52         12
40            Nurnberg          38         12
41           Paderborn          51         17
42                 QPR          43         10
43          Schalke 04          74         20
44            St Pauli          59         18
45               Stoke          36         11
46           Stuttgart          63         15
47          Sunderland          45         11
48             Swansea          44         12
49           Tottenham          66         20
50        Union Berlin          55         14
51       Werder Bremen          49         11
52           West Brom          45         13
53               Wigan          42         11
54           Wolfsburg          47         13
55              Wolves          40          5

In [15]:
Away_losses = df_matches[df_matches['FTR'] == 'A']['HomeTeam'].value_counts()
Home_losses = df_matches[df_matches['FTR'] == 'H']['AwayTeam'].value_counts()

df_Total_Losses = pd.DataFrame(data = (Away_losses + Home_losses)).reset_index()
df_Total_Losses.columns = ['TeamName', 'TotalLosses']
df_Total_Losses['TotalLosses'].fillna(0, inplace=True)
df_Total_Losses

              TeamName  TotalLosses
0               Aachen         15.0
1              Arsenal         10.0
2          Aston Villa         14.0
3             Augsburg         12.0
4        Bayern Munich          7.0
5            Blackburn         23.0
6               Bochum         17.0
7               Bolton         22.0
8         Braunschweig          9.0
9              Chelsea         10.0
10             Cottbus         15.0
11            Dortmund          3.0
12             Dresden         13.0
13            Duisburg         15.0
14       Ein Frankfurt          6.0
15      Erzgebirge Aue         15.0
16             Everton         12.0
17             FC Koln         20.0
18  Fortuna Dusseldorf          4.0
19       Frankfurt FSV         13.0
20            Freiburg         14.0
21              Fulham         14.0
22      Greuther Furth          4.0
23             Hamburg         14.0
24            Hannover          0.0
25       Hansa Rostock         17.0
26              Hertha         17.0
27          Hoffenheim         13.0
28          Ingolstadt         13.0
29      Kaiserslautern         19.0
30           Karlsruhe         19.0
31          Leverkusen         10.0
32           Liverpool         14.0
33          M'gladbach          8.0
34               Mainz         13.0
35            Man City          0.0
36          Man United          5.0
37         Munich 1860         11.0
38           Newcastle         11.0
39             Norwich         15.0
40            Nurnberg         16.0
41           Paderborn          7.0
42                 QPR         21.0
43          Schalke 04         10.0
44            St Pauli          8.0
45               Stoke         15.0
46           Stuttgart         11.0
47          Sunderland         15.0
48             Swansea         15.0
49           Tottenham          9.0
50        Union Berlin         14.0
51       Werder Bremen         14.0
52           West Brom         17.0
53               Wigan         17.0
54           Wolfsburg         16.0
55              Wolves         23.0

In [16]:
df_goals_and_wins_and_losses = pd.merge(df_goals_and_wins, df_Total_Losses, on='TeamName')

df_goals_and_wins_and_losses

              TeamName  TotalGoals  TotalWins  TotalLosses
0               Aachen          30          6         15.0
1              Arsenal          74         21         10.0
2          Aston Villa          37          7         14.0
3             Augsburg          36          8         12.0
4        Bayern Munich          77         23          7.0
5            Blackburn          48          8         23.0
6               Bochum          41         10         17.0
7               Bolton          46         10         22.0
8         Braunschweig          37         10          9.0
9              Chelsea          65         18         10.0
10             Cottbus          30          8         15.0
11            Dortmund          80         25          3.0
12             Dresden          50         12         13.0
13            Duisburg          42         10         15.0
14       Ein Frankfurt          76         20          6.0
15      Erzgebirge Aue          31          8         15.0
16             Everton          50         15         12.0
17             FC Koln          39          8         20.0
18  Fortuna Dusseldorf          64         16          4.0
19       Frankfurt FSV          43          7         13.0
20            Freiburg          45         10         14.0
21              Fulham          48         14         14.0
22      Greuther Furth          73         20          4.0
23             Hamburg          35          8         14.0
24            Hannover          41         12          0.0
25       Hansa Rostock          34          5         17.0
26              Hertha          38          7         17.0
27          Hoffenheim          41         10         13.0
28          Ingolstadt          43          8         13.0
29      Kaiserslautern          24          4         19.0
30           Karlsruhe          34          9         19.0
31          Leverkusen          52         15         10.0
32           Liverpool          47         14         14.0
33          M'gladbach          49         17          8.0
34               Mainz          47          9         13.0
35            Man City          93         28          0.0
36          Man United          89         28          5.0
37         Munich 1860          62         17         11.0
38           Newcastle          56         19         11.0
39             Norwich          52         12         15.0
40            Nurnberg          38         12         16.0
41           Paderborn          51         17          7.0
42                 QPR          43         10         21.0
43          Schalke 04          74         20         10.0
44            St Pauli          59         18          8.0
45               Stoke          36         11         15.0
46           Stuttgart          63         15         11.0
47          Sunderland          45         11         15.0
48             Swansea          44         12         15.0
49           Tottenham          66         20          9.0
50        Union Berlin          55         14         14.0
51       Werder Bremen          49         11         14.0
52           West Brom          45         13         17.0
53               Wigan          42         11         17.0
54           Wolfsburg          47         13         16.0
55              Wolves          40          5         23.0

In [17]:
import time
import datetime
import json
def get_keys(path):
    with open(path) as f:
        return json.load(f)

In [18]:
s= '2010-04-04'
time.mktime(datetime.datetime.strptime(s, "%Y-%m-%d").timetuple())

df_matches['TimeStamp'] = df_matches['Date'].map(lambda x: time.mktime(datetime.datetime.strptime(x, "%Y-%m-%d").timetuple()))

df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 10 columns):
Match_ID     992 non-null int64
Div          992 non-null object
Season       992 non-null int64
Date         992 non-null object
HomeTeam     992 non-null object
AwayTeam     992 non-null object
FTHG         992 non-null int64
FTAG         992 non-null int64
FTR          992 non-null object
TimeStamp    992 non-null float64
dtypes: float64(1), int64(4), object(5)
memory usage: 77.6+ KB

In [19]:
df_matches.TimeStamp = df_matches.TimeStamp.astype(int)

df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 992 entries, 0 to 991
Data columns (total 10 columns):
Match_ID     992 non-null int64
Div          992 non-null object
Season       992 non-null int64
Date         992 non-null object
HomeTeam     992 non-null object
AwayTeam     992 non-null object
FTHG         992 non-null int64
FTAG         992 non-null int64
FTR          992 non-null object
TimeStamp    992 non-null int64
dtypes: int64(5), object(5)
memory usage: 77.6+ KB

In [20]:
Time = df_matches['TimeStamp'][0]
Time

1333148400

In [21]:
r = requests.get('https://api.darksky.net/forecast/7120e0443ce31e6c479863743e7be8b8/52.5200,13.4050,1333148400')
r.status_code == requests.codes.ok

True

In [22]:
print(r.text)

{"latitude":52.52,"longitude":13.405,"timezone":"Europe/Berlin","currently":{"time":1333148400,"summary":"Mostly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":46.41,"apparentTemperature":39.23,"dewPoint":40.73,"humidity":0.8,"windSpeed":18.42,"windGust":18.42,"windBearing":287,"cloudCover":0.75,"uvIndex":0,"visibility":6.216},"hourly":{"summary":"Drizzle in the morning and afternoon.","icon":"rain","data":[{"time":1333144800,"summary":"Mostly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":46.41,"apparentTemperature":40.06,"dewPoint":40.56,"humidity":0.8,"windSpeed":14.96,"windGust":14.96,"windBearing":292,"cloudCover":0.75,"uvIndex":0,"visibility":6.216},{"time":1333148400,"summary":"Mostly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":46.41,"apparentTemperature":39.23,"dewPoint":40.73,"humidity":0.8,"windSpeed":18.42,"windGust":18.42,"windBearing":287,"cloudCover":0.75,"uvIndex":0,"visibility":6.216},{"time":1333152000,"summary":"Mostly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":46.41,"apparentTemperature":38.98,"dewPoint":39.55,"humidity":0.77,"windSpeed":19.55,"windGust":35.66,"windBearing":281,"cloudCover":0.75,"uvIndex":0,"visibility":6.216},{"time":1333155600,"summary":"Mostly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":46.45,"apparentTemperature":39.28,"dewPoint":37.83,"humidity":0.72,"windSpeed":18.42,"windGust":29.9,"windBearing":286,"cloudCover":0.75,"uvIndex":0,"visibility":6.216},{"time":1333159200,"summary":"Mostly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":46.33,"apparentTemperature":38.39,"dewPoint":37.4,"humidity":0.71,"windSpeed":22,"windGust":34.54,"windBearing":281,"cloudCover":0.75,"uvIndex":0,"visibility":6.216},{"time":1333162800,"summary":"Windy and Mostly Cloudy","icon":"wind","precipIntensity":0,"precipProbability":0,"temperature":44.6,"apparentTemperature":36.09,"dewPoint":38.43,"humidity":0.79,"windSpeed":22,"windGust":40.27,"windBearing":282,"cloudCover":0.75,"uvIndex":0,"visibility":6.216},{"time":1333166400,"summary":"Mostly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":44.6,"apparentTemperature":35.53,"dewPoint":37.56,"humidity":0.76,"windSpeed":24.99,"windGust":32.21,"windBearing":282,"cloudCover":0.75,"uvIndex":0,"visibility":6.216},{"time":1333170000,"summary":"Mostly Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":42.8,"apparentTemperature":33.52,"dewPoint":38.33,"humidity":0.84,"windSpeed":23.01,"windGust":31.09,"windBearing":278,"cloudCover":0.75,"uvIndex":0,"visibility":6.216},{"time":1333173600,"summary":"Mostly Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":42.8,"apparentTemperature":34.16,"dewPoint":38.95,"humidity":0.86,"windSpeed":19.99,"windGust":31.09,"windBearing":289,"cloudCover":0.75,"uvIndex":0,"visibility":6.216},{"time":1333177200,"summary":"Mostly Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":43.06,"apparentTemperature":34.33,"dewPoint":37.79,"humidity":0.82,"windSpeed":20.73,"windGust":36.83,"windBearing":293,"cloudCover":0.75,"uvIndex":1,"visibility":6.216},{"time":1333180800,"summary":"Drizzle","icon":"rain","precipIntensity":0.0049,"precipProbability":0.8,"precipType":"rain","temperature":42.34,"apparentTemperature":34.28,"dewPoint":36.24,"humidity":0.79,"windSpeed":16.99,"windGust":18.36,"windBearing":305,"cloudCover":0.75,"uvIndex":2,"visibility":6.216},{"time":1333184400,"summary":"Drizzle","icon":"rain","precipIntensity":0.0018,"precipProbability":0.92,"precipType":"rain","temperature":42.41,"apparentTemperature":34.93,"dewPoint":33.78,"humidity":0.71,"windSpeed":14.96,"windGust":27.62,"windBearing":310,"cloudCover":0.75,"uvIndex":3,"visibility":6.216},{"time":1333188000,"summary":"Drizzle","icon":"rain","precipIntensity":0.0049,"precipProbability":0.8,"precipType":"rain","temperature":44.6,"apparentTemperature":36.3,"dewPoint":32.42,"humidity":0.62,"windSpeed":21,"windGust":31.09,"windBearing":299,"cloudCover":0.75,"uvIndex":3,"visibility":6.216},{"time":1333191600,"summary":"Mostly Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":44.19,"apparentTemperature":35.77,"dewPoint":30.41,"humidity":0.58,"windSpeed":21,"windGust":28.77,"windBearing":320,"cloudCover":0.75,"uvIndex":3,"visibility":6.216},{"time":1333195200,"summary":"Mostly Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":42.61,"apparentTemperature":33.47,"dewPoint":30.68,"humidity":0.62,"windSpeed":21.98,"windGust":37.98,"windBearing":308,"cloudCover":0.75,"uvIndex":3,"visibility":6.216},{"time":1333198800,"summary":"Mostly Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":42.25,"apparentTemperature":35.44,"dewPoint":34.07,"humidity":0.73,"windSpeed":12.67,"windGust":12.67,"windBearing":311,"cloudCover":0.75,"uvIndex":3,"visibility":6.216},{"time":1333202400,"summary":"Partly Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":40.01,"apparentTemperature":32.49,"dewPoint":33.4,"humidity":0.77,"windSpeed":13,"windGust":13.54,"windBearing":330,"cloudCover":0.44,"uvIndex":2,"visibility":5.266},{"time":1333206000,"summary":"Mostly Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":42.34,"apparentTemperature":35.96,"dewPoint":30.23,"humidity":0.62,"windSpeed":11.51,"windGust":12.38,"windBearing":335,"cloudCover":0.68,"uvIndex":1,"visibility":6.216},{"time":1333209600,"summary":"Partly Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":42.8,"apparentTemperature":35.43,"dewPoint":25.51,"humidity":0.5,"windSpeed":14.99,"windGust":27.62,"windBearing":331,"cloudCover":0.44,"uvIndex":0,"visibility":6.216},{"time":1333213200,"summary":"Partly Cloudy","icon":"partly-cloudy-day","precipIntensity":0,"precipProbability":0,"temperature":41.08,"apparentTemperature":33.23,"dewPoint":24.82,"humidity":0.52,"windSpeed":14.99,"windGust":28.77,"windBearing":340,"cloudCover":0.44,"uvIndex":0,"visibility":6.216},{"time":1333216800,"summary":"Mostly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":39.22,"apparentTemperature":31.86,"dewPoint":28.13,"humidity":0.64,"windSpeed":12.01,"windGust":12.01,"windBearing":330,"cloudCover":0.75,"uvIndex":0,"visibility":6.216},{"time":1333220400,"summary":"Mostly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":39.22,"apparentTemperature":32.68,"dewPoint":25.72,"humidity":0.58,"windSpeed":10.01,"windGust":10.01,"windBearing":332,"cloudCover":0.75,"uvIndex":0,"visibility":6.216},{"time":1333224000,"summary":"Mostly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":39.22,"apparentTemperature":31.86,"dewPoint":26.62,"humidity":0.6,"windSpeed":12.01,"windGust":12.01,"windBearing":330,"cloudCover":0.75,"uvIndex":0,"visibility":6.208},{"time":1333227600,"summary":"Mostly Cloudy","icon":"partly-cloudy-night","precipIntensity":0,"precipProbability":0,"temperature":39.22,"apparentTemperature":33.62,"dewPoint":26.62,"humidity":0.6,"windSpeed":8.05,"windGust":8.05,"windBearing":308,"cloudCover":0.75,"uvIndex":0,"visibility":6.208}]},"daily":{"data":[{"time":1333144800,"summary":"Drizzle in the morning and afternoon.","icon":"rain","sunriseTime":1333168980,"sunsetTime":1333215600,"moonPhase":0.28,"precipIntensity":0.0005,"precipIntensityMax":0.0049,"precipIntensityMaxTime":1333180920,"precipProbability":0.92,"precipType":"rain","temperatureHigh":45.2,"temperatureHighTime":1333188960,"temperatureLow":29.6,"temperatureLowTime":1333256040,"apparentTemperatureHigh":36.34,"apparentTemperatureHighTime":1333188780,"apparentTemperatureLow":23.96,"apparentTemperatureLowTime":1333256040,"dewPoint":33.58,"humidity":0.7,"windSpeed":17.31,"windGust":40.29,"windGustTime":1333162620,"windBearing":302,"cloudCover":0.71,"uvIndex":3,"uvIndexTime":1333192200,"visibility":6.174,"temperatureMin":38.59,"temperatureMinTime":1333218000,"temperatureMax":47.01,"temperatureMaxTime":1333157640,"apparentTemperatureMin":31.84,"apparentTemperatureMinTime":1333223760,"apparentTemperatureMax":40.06,"apparentTemperatureMaxTime":1333144800}]},"flags":{"sources":["cmc","gfs","icon","isd","madis"],"nearest-station":1.219,"units":"us"},"offset":2}

In [23]:
r.json().keys()

for key in r.json().keys():
    print(key)
    value = r.json()[key] #Use standard dictionary formatting
    print(type(value)) #What type is it?
    print('\n\n') #Separate out data

latitude
<class 'float'>



longitude
<class 'float'>



timezone
<class 'str'>



currently
<class 'dict'>



hourly
<class 'dict'>



daily
<class 'dict'>



flags
<class 'dict'>



offset
<class 'int'>

In [24]:
RDICT = dict(r.json())

In [25]:
RDICT['currently']['precipProbability']

0

In [26]:
r.json()['daily']['precipProbability']

0

In [27]:
r.json()['daily']['data'][0]['icon']

'rain'

In [28]:

TimeStamp_List = list(df_matches['TimeStamp'])

TEST_LIST = TimeStamp_List[0:10]

In [29]:
df_test = df_matches.head()

df_test

,Match_ID,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,TimeStamp
0,1092,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A,1333148400
1,1093,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A,1323561600
2,1094,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A,1313190000
3,1095,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H,1322352000
4,1096,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D,1329523200

In [46]:
berlin_lat = 52.5200
berlin_lon = 13.4050

In [31]:
import json

def get_keys(path):
    with open(path) as f:
        return json.load(f)
                         


keys = get_keys("/Users/apple/.secret/darksky_api.json")

api_key = keys['api_key']

api_key

'7120e0443ce31e6c479863743e7be8b8'

In [ ]:
def weather_day(self, date):
        api_key = self.get_keys()
        weather = requests.get(self.url.format(api_key,self.lat,self.long,date))
#         f_json = weather.json()
        weather =  weather.json()['daily']['data'][0]['icon']
        return weather
    
    
def weather_list(self, date_list = []):
        weather_dict = {'date': [], 'weather':[]}
        for date in date_list:
            weather_dict['date'].append(date)
            weather_dict['weather'].append(self.weather_day(date))
        return weather_dict

In [77]:
lat = berlin_lat
lon = berlin_lon
list_of_dates = TEST_LIST
weather_list = []

for date in list_of_dates:
        link = f'https://api.darksky.net/forecast/{api_key}/{lat},{lon},{date}'
        r = requests.get(link)
        darksky = r.json()
        try:
            weather = darksky['daily']['data'][0]['icon']
        except KeyError:
            weather = 0
#         weather = darksky.get('icon', 0)
#         if darksky['daily']['data'][0]['precipProbability'] > 0.5:
#             weather = 1
#         else:
#             weather = 0
#         weather = darksky['daily']['data'][0]['icon']
    
        weather_list.append(weather)
        
weather_list

['rain',
 'partly-cloudy-day',
 'partly-cloudy-day',
 'wind',
 'partly-cloudy-day',
 'rain',
 'partly-cloudy-day',
 'partly-cloudy-day',
 'rain',
 0]

In [81]:
type(list(df_matches['TimeStamp']))

list

In [ ]:
lat = berlin_lat
lon = berlin_lon
list_of_dates = list(df_matches['TimeStamp'])
weather_list = []

for date in list_of_dates:
        link = f'https://api.darksky.net/forecast/{api_key}/{lat},{lon},{date}'
        r = requests.get(link)
        darksky = r.json()
        try:
            weather = darksky['daily']['data'][0]['icon']
        except KeyError:
            weather = 0
    
        weather_list.append(weather)
        
weather_list

[1333148400,
 1323561600,
 1313190000,
 1322352000,
 1329523200,
 1327017600,
 1328313600,
 1334962800,
 1316300400,
 1319324400]

In [ ]:
class weather_getter(object):
    
 
    def __init__(self,lat, long):
        self.lat = lat
        self.long = long
        self.url = 'https://api.darksky.net/forecast/{}/{},{},{}'
        
         
    def get_keys(self,path="/Users/apple/.secret/darksky_api.json"):
        with open(path) as f:
            keys = json.load(f)
        return keys["api_key"]

    def weather_day(self, date):
        api_key = self.get_keys()
        weather = requests.get(self.url.format(api_key,self.lat,self.long,date))
#         f_json = weather.json()
        weather =  weather.json()['daily']['data'][0]['icon']
        return weather
           
    def weather_list(self, date_list = []):
        weather_dict = {'date': [], 'weather':[]}
        for date in date_list:
            weather_dict['date'].append(date)
            weather_dict['weather'].append(self.weather_day(date))
        return weather_dict

In [ ]:
# Latitude and longitude of Berlin
lat = 52.5200
long = 13.4050
Matches_Germany = Matches[Matches['Div'].isin(['D2','D1'])]

#Creating instance of weather getter class
weather_germany = weather_getter(lat,long)
#Getting weather on match days
date_weather = weather_germany.weather_list(list(Matches_Germany['Date'].unique()))
date_weather = pd.DataFrame(date_weather)

#Setting forecast for no rain days as 0 and setting as 1 for rain days
date_weather.loc[date_weather['forecast'].isin(['Mostly Cloudy', 'Mostly cloudy throughout the day.',
                                                'Partly Cloudy', 'no rain', 'Foggy overnight and in the morning.',
                                                'Partly cloudy throughout the day.', 'Foggy in the morning.',
                                                'Clear', 'Overcast']),'forecast'] = 0
date_weather.loc[date_weather['forecast'] != 0, 'forecast'] = 1

#Adding forecast column to the matches in Germany
Matches_Germany = Matches_Germany.merge(date_weather,how='left',left_on='Date',right_on='date')